{% extends 'base.html.twig' %}

{% block title %}Importer un fichier{% endblock %}

{% block body %}
    <div class="container p-5">
        <h1 class="text-center mb-3">Import data</h1>

        <a href="{{ path('app_home') }}">
            <i class="fa-solid fa-arrow-left me-1"></i>
            Home Page
        </a>

        <div class="mt-3">
            {{ form_start(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
