<div class="row pe-2 pt-3">
    {# Sample collection #}
    {% include 'input/sample_collection.html.twig' %}

    {# Sample preparation #}
    {% include 'input/sample_preparation.html.twig' %}

    {# Sample analysis #}
    {% include 'input/sample_analysis.html.twig' %}

    {# Data treatment #}
    {% include 'input/data_treatment.html.twig' %}
</div>